#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grid-container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 930px;
    height:850px;
}

.grid-column {
    display: flex;
    flex: 1 0 auto; 
}

.grid-row {
    display: flex;
    flex: 1;
}

button {
    margin-bottom: 20px;
}
